<div class="login-container">
  <div class="login-box">
    <h2 class="login-title">Login</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <p class="signup-option">Don't have an account? <a routerLink="/signup">Sign up</a></p>
  </div>
</div>
