<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-brand-box">
      <a class="navbar-brand" href="#">App</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/consultar-costos">Consultar Costos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/compra-equipo">Compra de Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/costo-smartphone">Costo para Smartphone</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/costo-plan">Costo de Plan Móvil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
