<style>
  /* Estilos para el contenedor principal */
.home {
  padding: 20px;
  text-align: center;
}

/* Estilo para el título */
.home h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

/* Estilos para los enlaces de navegación */
.home ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home li {
  margin: 10px 0;
  font-size: 18px;
}

.home a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s;
}

.home a:hover {
  color: #0056b3;
}

</style>
<div class="home">
  <h1>Bienvenido al Catálogo de Servicios</h1>
  <p>Explore nuestros servicios:</p>

  <ul>
    <li><a routerLink="/consultar-costos">Consultar Costo de cualquier equipo</a></li>
    <li><a routerLink="/compra-equipo">Costo de compra de equipo</a></li>
    <li><a routerLink="/costo-smartphone">Consultar costo para smartphone</a></li>
    <li><a routerLink="/costo-plan-movil">Consultar costo de plan móvil</a></li>
  </ul>
</div>
