.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #f68e5f);
}

.signup-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
}

.signup-title {
  font-size: 1.5rem;
  color: #f68e5f;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #f68e5f;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #e16838;
}
